.img33{
    mix-blend-mode: luminosity;
    opacity: 0.78;
    width: 100%;
    border-top-left-radius: 10px;
border-top-right-radius: 10px;
    
    }
    .blend{
        background-color: #2621a0;
        border-top-left-radius: 10px;
border-top-right-radius: 10px;
    }

.head5{
    color: white;
    position: absolute;
    top:45px;
    left:30px;

}
.stakingcards{
    background-color: #212228 ;
    width: "10rem";
     padding: "0px";
     position:relative;
     border-radius: 10px;
   
}
.stakingcards:hover{
    box-shadow: 0px 0px 9px 3px #6A8EFFCC;
}
.progress{
background-color: #815efa;
}

.btn10{
    background: linear-gradient(270deg, #885BFF 0.19%, #5977D6 100%);

    color: white;
    border-radius: 100px;
    border: none;
    width: 100%;
    padding: 5px 80px 5px 80px;
    text-align: center;
}
.btn11{
    background-color: transparent;
    color: gray;
    border-radius: 100px;
    border: 1px solid gray;
    width: 100%;
    padding: 5px 80px 5px 80px;
}
.btn12{
    background-color: transparent;
    color: white;
    border-radius: 100px;
    border: 1px solid  #815efa;
    width: 100%;
    padding: 5px 80px 5px 80px;
}
.paraa{
    color: white;
    font-size: 17px;
   
    font-weight: bold;
}
.paraaa{
    color: #E04A40;
    font-size: 9px;
    text-align: center;
    padding-top: 2px;
}
.h5Locked{
    color: white;
    font-size: 12px;
    margin-left: 20px;
    background-color: #878787;
    padding: 2px 7px 2px 7px;
    border-radius: 100px;
}
.h5going{
    color: white;
    font-size: 12px;
    margin-left: 20px;
    background-color: #d8a800;
    padding: 2px 7px 2px 7px;
    border-radius: 100px; 
}
.h5complete{
    color: white;
    font-size: 12px;
    margin-left: 20px;
    background-color: #815efa;
    padding: 2px 7px 2px 7px;
    border-radius: 100px; 
}
.btn90{
    background-color: #815efa;
    color: white;
    border-radius: 100px;
    border: none;
    width: 100%;
    padding: 5px 80px 5px 80px;
   
}
@media only screen and (max-width: 800px){
    .col2{
        margin-top: 15px;
      
    }
    .col4{
        margin-top: 15px;
     
       
    }
 
}
@media only screen and (max-width: 400px){

    .col1{
        margin-left: -30px;
    }
    .col2{
        margin-left: -30px;
    }
    .col3{
        margin-left: -30px;
    }
    .col4{
        margin-left: -30px;
    }
}
@media only screen and (min-width:1600px) and (max-width:2500px){
    .head5{

        position: absolute;
        top: 80px;
    }
    .btn10{
        padding: 5px 180px 5px 180px;
    }
    .stakingcards{
padding-bottom: 40px;
    }
    .btn11{
        margin-top: 15px;
    }
}
@media only screen and (min-width: 300px) and (max-width:1200px){
    .btn10{
        padding: 5px 70px 5px 60px;
    } 
}

