.img33{
    background-color: #2821a1;
}
.head5{
    color: white;
    position: absolute;
    top:40px;
    left:30px;

}
.progress{
background-color: #815efa;
}
.btn4{
    background-color: #815efa;
    color: white;
    border-radius: 100px;
    border: none;
    padding: 5px 40px 5px 40px;
}
@media only screen and (max-width: 800px){
    .col2{
        margin-top: 15px;
      
    }
    .col4{
        margin-top: 15px;
     
       
    }
 
}