.img33{
mix-blend-mode: luminosity;
opacity: 0.78;
width: 100%;

}
.blend{
    background-color: #2621a0;
}
.head5{
    color: white;
  position: absolute;
  top:45px;
  left:30px

}
.stakingcards{
    background-color: #212228 ;
    width: "10rem";
     padding: "0px";
     position:relative;
}
.progress{
background-color: #815efa;
}
.btn4{
    background: linear-gradient(270deg, #885BFF 0.19%, #5977D6 100%);

    color: white;
    border-radius: 100px;
    border: none;
    padding: 5px 80px 5px 80px;
    text-align: center;
}
@media only screen and (max-width: 800px){
    .col2{
        margin-top: 15px;
      
    }
    .col4{
        margin-top: 15px;
     
       
    }
 
}
@media only screen and (max-width: 400px){

    .col1{
        margin-left: -30px;
    }
    .col2{
        margin-left: -30px;
    }
    .col3{
        margin-left: -30px;
    }
    .col4{
        margin-left: -30px;
    }
}
@media only screen and (min-width:1600px) and (max-width:2500px){
    .head5{

        position: absolute;
        top: 80px;
    }
    .btn4{
        padding: 5px 180px 5px 180px;
    }
    .stakingcards{
padding-bottom: 40px;
    }
}
@media only screen and (min-width: 300px) and (max-width:1200px){
    .btn4{
        padding: 5px 70px 5px 60px;
    } 
}
