.f {
  color: white;
}
.accordionItem {
  background-color: #1d1d37;
  padding-top: 10px;
  border: none !important;
  padding-bottom: 10px;
  color: #fff !important;
  border-radius: 20px !important;
  overflow: hidden;
}
.accordionItem .accordion-body {
  color: #fff !important;
}
.accordionHeader button {
  background-color: #1d1d37 !important;
  color: #fff !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.accordionHeader button::after {
  background-image: url(../public/faqArrow.png) !important;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
@media only screen and (max-width: 800px) {
  .f {
    text-align: center;
  }
}
