.btn1{
    background-color: transparent;
    color: white;
    border: 1px solid #885BFF;
    font-size: 14px;
    border-radius: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 3px;
  }
  .navColumn{
    width:13%;
  }
  .form-control{
    background-color: #202544;
    border: none;
  }
  .network{
    background-color: #202544;
    font-size: 14px;
    border: none;
    color: white;
    border-radius: 30px;
    padding-top: 6px;
    padding-bottom: 10px;
    padding-right: 40px;
  
  }
  .pool{
    color: white;
    font-size: 24px;
  }
  .address{
    background-color: #202544;
    border: none;
    color: white;
    border-radius: 30px;
    padding-top: 6px;
    padding-bottom: 10px;
    padding-right: 2px;
    padding-left: 5px;
    margin-left: 10px;
    width: 300px;
  }
  .level1{
    background-color: #3c3f57;
    border: none;
    color: white;
    border-radius: 40px;
    padding:1px 13px 3px 11px;
    font-size: 14px;
  }
  .img1{
    margin-left: 20px;
  }
  .imgs{
    background-color: #6a8eff;
    padding: 8px;
    border-radius: 100px;
    margin-left: 10px;
  
  }
  .imgss{
    background-color: #6a8eff;
    padding: 8px;
    border-radius: 100px;
  }
  .username{
    font-size: 16px;
  }
  .username1{
    font-size: 12px;
    float: right;
    margin-top: 5px;
  }
  .balance{
    background-color: black;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    padding: 5px 20px 5px 20px;
   
  }
  .bnb{
    font-size: 14px;
    font-weight: bold;
  }
  .bnbnum{
    font-size: 12px;
    float: right;
    font-weight: bold;
  }
  .bnb1{
    font-size: 14px;
   
  }
  .bnbnum1{
    font-size: 12px;
    float: right;
    
  }
  .accordian-button{
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }
  .btn2{
   background-color: transparent;
   padding: 5px 50px 5px 50px;
   border-radius: 100px;
   border: 2px solid #6a8eff;
   color: white;
   font-weight: bold;
   font-size: 14px;
  
  }
  .heading{
    color: white;
    margin-top:20px ;
    margin-left: 20px;
    font-size: 36px;
  }
  .heading1{
    color: white;
    margin-top:20px ;
    margin-left: 20px;
    font-size: 16px;
  }
  .heads{
    color: white;
    margin-top:20px ;
    margin-left: 20px;
    font-size: 24px;
  }
  .para{
  color: #777777;
  font-size: 14px;
  }
  .head1{
    color: white;
    font-size: 18px;
  }
  .head7{
    color:#885BFF;
    font-size: 18px;
  }
  .details{
   
      font-size: 14px;
    color: white;
      display: inline-block;
      padding-top: -20px;
      
     
  
  }
  .myBox{
      /* border-bottom: 4px solid transparent;
      border-image: linear-gradient(0.25turn,#815ef8, #815ef8);
      border-image-slice: 1; */
      width: 80px;
    display: inline-block;
    padding-bottom: 20px;
    margin-top: -20px;
  }
  .lines1{
    margin-top: -63px;
    margin-left: 119px;
  }
  .detail{
      padding-top: 20px;
  
      padding-bottom: 20px;
  }
  .detail2{
      display: inline-block;
      font-size: 14px;
      color: white;
      margin-left: 40px;
      padding: -20px;
  }
  .hr1{
      background-color: #818494;
      margin-top: -20px;
      height: 1px;
  }
  .con{
    background-color: #08081d;
    padding-top: 17px;
    padding-bottom: 10px;
  }
  .input11{
    background-color: #1d1d37;
    border: none;
    color: white;
    border-radius: 20px;
    width: 270px;
    padding:5px 30px 5px 28px
  }
  .div2{
    text-align: center;
    }
    .baricon{
      display: none;
    }
    .addMar{
     
      padding-bottom: 20px;
    }
  @media only screen and (max-width: 800px){
    .logoimg{
    text-align: center;
    }
    .con{
      padding-bottom: 20px;
     
    }
    .input11{
      width: 380px;
    }
    .div2{
    text-align: center;
    margin-top: 10px;
    }
    .div3{
      margin-top: 15px;
  
  }
  .heading{
    text-align: center;
  }
  .heading1{
    text-align: center;
  }
  .para{
    font-size: 12px;
  }
  .head1{
    font-size: 14px;
  }
  .pool{
    text-align: center;
  }
  .btn1{
    font-size: 12px;
    padding: 3px 10px 3px 10px;
  
  }
  
  }
  @media only screen and (max-width: 400px){
    .input11{
      width: 330px;
    }
  .network{
      padding-right: 30px;
    }
    .div3{
      text-align: left;
      margin-left: 3px;
    }
    .level1{
      padding-right: 5px;
    }
    
    
  }
  @media only screen and (min-width: 300px) and (max-width:1200px){
    .column33{
      display: none;
     
    }
    .column4{
      display: none;
     
    }
   .baricon{
     display: block;
   }
   .addMar{
    margin-top: 100px;
    padding-bottom: 20px;
    margin-left: 40px;
  }
  }
  @media only screen and (min-width:1600px) and (max-width:2500px){
    .navColumn{
      width: 9%;
    }
    .cardColumn{
      width: 75% !important;
    }
    .walletColumns{
      width: 16% !important;
    }
    .username1{
      float: right;
      margin-top: 5px;
    }
    .balance{
      padding: 7px 5px 7px 5px;
    }
  }
  @media only screen and (min-width: 300px) and (max-width:1200px)
  {
    .navColumn{
      width: 100%;
    }
   .cardColumn{
     width: 100%;
   }
   .walletColumns{
    width: 100%;
  }
  
  }
  @media only screen  and (min-width:1200px){
    .cardColumn{
      width: 68%;
    }
    .walletColumns{
      width:19% ;
    }
  
  }
  @media only screen and (min-width:1000px) and (max-width:2500px){

    .navColumn{
        
      position: fixed;
      z-index: -1;
        height: 100%; 
       padding-top: 70px;
       top: 0px;    
  
       
       
    }
    .cardColumn{
      margin-left: 167px;
    }
   
  }