.stakeAmount{
   
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color:white;
    
}
.amount1{
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
color: #777777;
text-align: center;
}
.amount2{
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: #777777;

}
.inputMax{
    margin-top: -10px;
    text-align: center;
}
.inputField{
    width: 69%;
    background: #1D1D37;
border-radius: 10px;
border: 1px solid #5977D6;
padding: 12px 0px 11px 0px;
padding-left: 40px;
margin-left: -15px;
}
.imagess{
  position: absolute;
margin-left: -329px;
margin-top: 15px;
}
.inputIcons{
    position: relative;
}
.maxbtn{
    background-color: transparent;
    border: none;
 margin-left: -60px;

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-decoration-line: underline;

color: #7E9DFF;
}
.inputField::placeholder{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

color: #7E9DFF;
}
.inputField:focus{
    color: #7E9DFF;
}
.deposit{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #E04A40;
margin-left: 75px;
margin-top: 10px;
}
.details{
margin-top: 40px;
margin-left: 55px;
}
.detail{
    color: #777777;
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;

}
.stakePeriod{
width: 88%;
margin-top: -10px;
margin-left: 33px;

}
.stakePeriod1{
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
/* or 200% */

text-align: center;

/* Paragraph_Color_2 */

color: #CCCCCC;
}
.stakePeriod2{
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
/* or 200% */

text-align: center;
float: right;
margin-right: 18px;
/* Paragraph_Color_2 */

color: #CCCCCC;
}
.stakePeriod3{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #6A8EFF;

}
.stakePeriod4{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #6A8EFF;
text-align: center;
float: right;
margin-right: 18px;
}
.confirmBtn{
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
text-align: center;
/* Gray Color 04 */
background-color: transparent;
border: 1px solid #777777;
border-radius: 60px;
width: 86%;
color: #777777;
padding: 11px 0px 11px 0px;
margin-left: 31px;
}
.stakepara{
   text-align: center;
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
margin-top: 10px;
/* identical to box height */

/* Paragraph_Color_2 */

color: #CCCCCC;
}
.line{
    width:96%;
}
@media only screen and (min-width: 350px) and (max-width:500px){
    .inputField{
        width: 77%;
    }
    .deposit{
        margin-left: 41px;
        margin-right: 25px;

    }
    .details{
        margin-left: 15px;
    }
    .stakePeriod{
        margin-left: -10px;
    }
    .stakePeriod2{
        float: right;
        margin-right:-45px;
    }
    .line{
       width: 123%;
    }
    .stakePeriod4{
        margin-right:-45px;
    }
    .confirmBtn{
        width:110%;
        margin-left: -12px;
    }
    .imagess{
        position: absolute;
      margin-left: -237px;
      margin-top: 14px;
      }
   

}
