.connectButton {
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #7b3fe4;
  font-weight: 700;
  color: white;
}

.connectButton {
  /* width: 20px; */
}

.network {
  background-color: #202544;
  font-size: 14px;
  border: none;
  color: white;
  border-radius: 30px;
  /* padding-top: 6px;
    padding-bottom: 10px; */
  padding-right: 40px;

}

.btn4 {
  background: linear-gradient(270deg, #885BFF 0.19%, #5977D6 100%);
  font-size: 14px;
  color: white;
  border-radius: 100px;
  border: none;
  padding: 10px 80px 10px 80px;
  text-align: center;
  width: 100%;
}

.address {
  background-color: #202544;
  border: none;
  color: white;
  border-radius: 30px;
  /* padding-top: 2px; */
  /* padding-bottom: 2px;*/
  padding-right: 2px;
  padding-left: 5px;
  margin-left: 10px;
  /* width: 300px; */
}

.level1 {
  background-color: #3c3f57;
  border: none;
  color: white;
  border-radius: 40px;
  padding: 1px 13px 3px 11px;
  font-size: 14px;
}

.img1 {
  margin-left: 20px;
}

.chainIcon {
  width: 25px;
  height: 23px;
  margin-top: 6px;
}